In [1]:
import psycopg2
import pandas as pd

In [ ]:
import psycopg2

# Connection parameters
user = "c_mini"  
password = "fill in later"     
host = "project4.postgres.database.azure.com"
port = 5432
database = "lapd_ml"

# File path to your CSV file
csv_file_path = "Resources/date_time_crime_data.csv"  

try:
    # Connect to PostgreSQL
    conn = psycopg2.connect(
        user=user,
        password=password,
        host=host,
        port=port,
        database=database,
        sslmode='require'
    )
    cursor = conn.cursor()

    # Use COPY command to load data
    with open(csv_file_path, 'r') as f:
        cursor.copy_expert("COPY date_time FROM STDIN WITH CSV HEADER", f)
        conn.commit()
        print("CSV file imported successfully!")

except Exception as e:
    print("Error:", e)

finally:
    if conn:
        cursor.close()
        conn.close()

CSV file imported successfully!

In [15]:
# Connection parameters
user = "c_mini"
password = "SalaMandar18@!"
host = "project4.postgres.database.azure.com"
port = 5432
database = "lapd_ml"

# SQL query to fetch data from the table
query = "SELECT * FROM date_time;"  # Replace with your table name

try:
    # Connect to PostgreSQL
    conn = psycopg2.connect(
        user=user,
        password=password,
        host=host,
        port=port,
        database=database,
        sslmode='require'
    )

    # Use pandas to execute the query and load the results into a DataFrame
    df = pd.read_sql(query, conn)

    # Display the DataFrame
    print(df)

except Exception as e:
    print("Error while connecting to PostgreSQL:", e)

finally:
    # Close the connection
    if conn:
        conn.close()

C:\Users\Carl\AppData\Local\Temp\ipykernel_11792\1211322751.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

         date_rptd    date_occ  time day_or_night  crm_cd
0       2020-03-01  2020-03-01  2130        Night     510
1       2020-02-09  2020-02-08  1800        Night     330
2       2020-11-11  2020-11-04  1700          Day     480
3       2023-05-10  2020-03-10  2037        Night     343
4       2022-08-18  2020-08-17  1200          Day     354
...            ...         ...   ...          ...     ...
966946  2024-01-16  2024-01-16  1510          Day     624
966947  2024-07-24  2024-07-23  1400          Day     510
966948  2024-01-15  2024-01-15   100        Night     745
966949  2024-07-19  2024-07-19   757          Day     888
966950  2024-04-24  2024-04-24  1500          Day     230

[966951 rows x 5 columns]

In [16]:
date_time_df = df

date_time_df.head()

    date_rptd    date_occ  time day_or_night  crm_cd
0  2020-03-01  2020-03-01  2130        Night     510
1  2020-02-09  2020-02-08  1800        Night     330
2  2020-11-11  2020-11-04  1700          Day     480
3  2023-05-10  2020-03-10  2037        Night     343
4  2022-08-18  2020-08-17  1200          Day     354